html {
    font-family: sans-serif;
    line-height: 1.15;
    height: 300px;
}

body {
    margin: 0;
    padding: 0;
    font-family:  'Belgrano', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    height: 100%;
    background-color: black;
}




.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    float: right;
    padding-right: 200px;
    padding-top: 40px;
   
}


#map {
    flex: 1;
    background: #f0f0f0;
    width: 500px;
    
}

.desc h1{
  
    display: inline;
    padding-left: 200px;
    font-size: 70px;
    width: 50%;
  

}

.desc p
{
    display: inline;
    font-size: 25px;
    
   
}
.depo
{
    font-size: 27px;
    padding-left: 200px;
    width: 70%;
    
    
}

#submit
{
    font-size: 22px;
    font-family: 'Belgrano', serif;
    background-color: white;
    
   
}

.desc
{
    float: left;
}

.block
{
    
    float: left;
    width: 60%;
    font-style: normal;
    box-sizing: border-box;
    margin-top: 30px;
    

}

.navigation ul
{
   
    text-decoration: none;

}

.navigation li
{
    display: inline;
    padding-right: 80px;
    font-size: 20px;
}

.navigation
{
    box-sizing: border-box;
    float: right;
    padding-top: 50px;
    padding-right: 120px;
}
.navigation a
{
    text-decoration: none;
    color: white;
}
.navigation a :hover
{
    color: rgb(53, 224, 53);
}

